.flex {
	display: flex;
}

.iflex {
	display: inline-flex;
}

.flexAIC {
	align-items: center;
}

.flexAIS {
	align-items: flex-start;
}

.flexAIE {
	align-items: flex-end;
}

.flexAIST {
	align-items: stretch;
}

.flexJCC {
	justify-content: center;
}

.flexJCS {
	justify-content: flex-start;
}

.flexJCE {
	justify-content: flex-end;
}

.flexJCSB {
	justify-content: space-between;
}

.flexS0 {
	flex-shrink: 0;
}

.flexS1 {
	flex-shrink: 1;
}

.flexG0 {
	flex-grow: 0;
}

.flexG1 {
	flex-grow: 1;
}

.flexDIRC {
	flex-direction: column;
}

.flexDIRR {
	flex-direction: row;
}

.flexASC {
	align-self: center;
}

.flexASFS {
	align-self: flex-start;
}

.flexASFE {
	align-self: flex-end;
}

.flexWW {
	flex-wrap: wrap;
}

.flexOrder1 {
	order: 1;
}

.flexOrder2 {
	order: 2;
}

